pkgbase = mirai-git
	pkgdesc = Go analysis, review and play with KataGo
	pkgver = r0
	pkgrel = 1
	url = https://github.com/zhaob1n/mirai
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = blueprint-compiler
	makedepends = cargo
	makedepends = gettext
	makedepends = git
	makedepends = gtk4
	makedepends = just
	makedepends = libadwaita
	options = !lto
	source = mirai::git+https://github.com/zhaob1n/mirai.git
	sha256sums = SKIP

pkgname = mirai-git
	pkgdesc = GTK4/libadwaita Go board for analysis, review and play with KataGo
	depends = glib2
	depends = glibc
	depends = graphene
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libgcc
	depends = pango
	optdepends = katago: local analysis engine (katago-opencl, katago-cuda, ...)
	provides = mirai
	conflicts = mirai

pkgname = mirai-server-git
	pkgdesc = Headless host sharing KataGo with mirai clients over the network
	depends = glibc
	depends = libgcc
	optdepends = katago: the engine it serves (katago-opencl, katago-cuda, ...)
	provides = mirai-server
	conflicts = mirai-server
